@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap");

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
body{
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: #637381;
}
[class*="__container"]{
	max-width: 730px;
	margin: 0px auto;
	padding: 0px 15px;
}

.billing {
	padding-top: 50px;
	padding-bottom: 50px;
}

.billing__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.25; /* 30/24 */
	color: #212B36;	
}
.billing__title:not(:last-child){
	margin-bottom: 30px;
}
.billing__title--margin:not(:last-child){
	margin-bottom: 25px;}
.billing__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 28px;

}
.billing__items:not(:last-child){
	margin-bottom: 35px;
}
.billing__item {
	
	flex: 0 1 336px;
} 
.billing__item--full {
	flex: 0 1 100%;
}
.billing__input {
	padding: 15px 25px;
	width: 100%;
	border: 1px solid #e7e7e7;
	border-radius: 7px;
}
.billing__input:focus-visible {
	outline: none;
	border: 1px solid #3056d3;
}

.select-style {
	font-family: Inter, sans-serif;
	font-weight: 500;
	font-size: 16px;
	color:inherit;
	appearance: none;
	background: url(/img/icons/frame.svg) 95% no-repeat;
}
.item-textarea {
	resize: vertical;
	height: 180px;
	
}
.billing__checkbox:not(:last-child) {
	margin-bottom: 55px;
}
.checkbox-billing__item:not(:last-child){
	margin-bottom: 25px;}
.checkbox-billing__item {
	position: relative;
}
.checkbox-billing__check {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.checkbox-billing__label {
	cursor: pointer;
	display: inline-flex;
	align-items: flex-start;
	gap: 14px;
}
.checkbox-billing__label:before{
	content: '';
	flex: 0 1 22px;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	border: 0.7px solid #E7E7E7;
}
.checkbox-billing__check:checked + .checkbox-billing__label:before{
	content: '';
	background: url(../img/icons/check.svg) center no-repeat;
	width: 22px;
	height: 22px;
	border-radius: 4px;
	border: 0.7px solid #E7E7E7;
}

.title-coupon {
font-size: 20px;
font-weight: 600;
line-height: 1.3; /* 26/20 */

}
.coupon-item {
	display: flex;
	column-gap: 20px;
	row-gap: 10px;
}
.coupon-item__input{
	padding: 15px 25px;
	width: 100%;
	border: 1px solid #e7e7e7;
	border-radius: 7px;
	flex: 0 1 325px
}
.coupon-item__input:focus-visible {
	outline: none;
	border: 1px solid #3056d3;
}

.coupon-item__apply {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.7;
	background-color: #212b36;
	color: #fff;
	padding: 12px 22px;
	flex: 0 0 auto;
	border-radius: 5px;
	transition: all 0.3s;
}
.coupon-item__apply:hover{
	color: #212b36;
	background-color: #212b3658;
	
}
/* ----------------- */
.shipping {
	padding-top: 50px;
	padding-bottom: 50px;
}
.shipping__container {
	max-width: 636px;
}
.shipping__address {
	border-bottom: 1px solid #C4C4C4;
	width: 100%;
	padding-bottom: 36px;
	margin-bottom: 39px;
}
.shipping__title {
	font-family: 'Oswald';
	font-weight: 400;
	font-size: 24px;
	color: #000000;
	line-height: 2.8; /* 68/24 */
}
.shipping__title:not(:last-child) {
	margin-bottom: 34px;
}
.shipping__title--margin:not(:last-child) {
	margin-bottom: 40px;
}
.shipping__items {
	margin-bottom: 14px;
}
.shipping__items--margin:not(:last-child) {
	margin-bottom: 46px;}
.shipping__item:not(:last-child) {
	margin-bottom: 24px;}
.shipping__item {
	display: flex;
	column-gap: 30px;
	align-items: flex-start;
	flex-wrap: wrap;
}
.shipping__label {
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: #3F3F3F;
	flex-grow: 1;
}
.shipping__label span {
	color:#EB5757;
	padding-left: 5px;}
.shipping__input {
	font-family: Roboto;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25; 
	color: #3F3F3F;
	border: 1px solid #C4C4C4;
	padding: 10px 16px;
	flex: 0 1 450px;
}
.shipping__text {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.4;
	color: #828282;
	
}
.shipping__text:not(:last-child){
	margin-bottom: 24px;}
.shipping__login {
	display: flex;
	gap: 25px;
	align-items: center;
}
.shipping__button {
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 15px 42px;
	background: #000000;
	transition: all 0.5s ease 0s;
}
.shipping__button:hover{
	color: #000000;
	background: #212b3658;
}
.shipping__link {
	display: block;
	font-family: Roboto;
	font-weight: 400;
	Font-size: 14px;
	line-height: 1.4;
	color: #0F6DB1;
	position: relative;
	/* transition: 0.3s ease 0s; */
}
.shipping__link::after {
	content: "";
	width: 0;
	height: 1px;
	position: absolute;
	background-color: #0f6db1;
	left: 0;
	bottom: 0px;
	transition: all 0.3s;}
.shipping__link:hover::after {
	width: 100%;
}


.shipping__street {
	flex: 0 1 450px;
	display: flex;
	flex-direction: column;
	gap: 13px;
}
.street-input {
	min-height: 44px;
	flex: 0 1 100%;
	
}
.shipping-select {
	appearance: none;
	background: url(../img/icons/check2.svg ) 95% no-repeat;
}
.shipping__radio:not(:last-child) {
	margin-bottom: 24px;
}

.radio__item {
	position: relative;
	padding: 15px 0;
	gap: 110px;
	display:flex;
}
.item-radio-01 {
	border-top: 1px solid #C4C4C4;
	width: 100%;
}
.radio__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
}
.radio__input:checked + .radio__label{
	color: rgb(0, 0, 0);
	font-weight: 500;}
.radio__input:checked + .radio__label::before {
		border: 3px solid #000;}
.radio__label {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	gap: 13px;
	flex: 0 1 65px;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	color: #3F3F3F;
}
.radio__label::before {
	content: "";
	flex: 0 0 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ffffff;
	border: 1px solid #000;
}
.radio__info {
	display: flex;
	flex: 0 1 210px;
	justify-content: space-between;
}
.radio__label-text {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height:1.43;
}
.item-radio-02 {
	border-top: 1px solid #C4C4C4;
	width: 73%;
}
.shipping__next {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.shipping__back:hover{
	color: #000000;}
.shipping__back {
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #828282;
}