
@import url(https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap);

body{
	font-family: Poppins, sans-serif;
	font-weight: 300;
	font-size: 14px;
	padding: 0 15px;
	line-height: 25px;
	color: #6C757D;
	
}
h1 {
	max-width: 816px;
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	margin: 0 auto 40px;
	padding-top: 30px;
	color: #000;
}
h2 {
	font-size: 25px;
	font-weight: 700;
	line-height: 40px;
	color: #212529;

}
.abzatz1, .abzatz2, .abzatz3{
	max-width: 816px;
	
	margin: 0 auto 80px;
}

.title1 {
	max-width: 400px;
	margin-bottom: 40px;
}
.title2 {
	max-width: 605px;
	margin-bottom: 40px;
}
img {
	max-width: 100%;
	font-size: 14px;
}

.image1{
	display: block;
	max-width: 1240px;
	margin: 0 auto 80px;
	}

.images {
	display: block;
	max-width: 1240px;
	
	font-size: 0;
	
	margin: 0 auto 80px;
}
.img1{
	width: 50%;
	padding-right: 15px;
}
.img2 {
	padding-left: 15px;
	width: 50%;
}

.text p{
	margin-bottom: 40px;
}

.text5 {
		margin-bottom: 10px;
	}
.scroll {
		max-height: 80px;
		max-width: 816px;
		overflow: auto;
		margin-bottom: 20px;
		}
.link {
		font-weight: bold;
		color: greenyellow;
		margin-bottom: 10px;
		display: inline-block;
	}
.list {
		font-size: 0;
	}
.list__item {
		font-size: 18px;
		display: inline-block;
		background-color: purple;
		padding: 15px;
	}
	.section {
		max-width: 1240px;
		margin: 0px auto;
		padding-bottom: 40px;
		color: #000;
	}
	.text5 {
		max-width: 816px;
		margin:0 auto 30px;
	}
	